{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'MySite\scripts\default.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'MySite\style\default.css' %}">
</head>

<body>

    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="{% url 'dashbord' %}" class="active">LITRewiew</a>
        </div>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="{% url 'dashbord' %}"> Flux</a>
            <a href="{% url 'post' %}">Post</a>
            <a href="{% url 'subscription' %}"> Abonnement</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </div>

    </div>


    <div class="container">
        {% block content %} {% endblock %}
    </div>


    <div class="footer">
        <p></p> &copy; 2021 MySite.com</p>
    </div>


</body>

</html>