{% extends 'base.html' %} {% block content %}
<h1>Créer une critique</h1>

<form id="answerticket" method="POST" action="{% url 'answerticket' id %} " enctype='multipart/form-data'>

    {% csrf_token %}
    <p>Vous êtes entrain de répondre à {{ticket.user}} </p>
    <div class="answer_div">
        <div class="content_answer_div">
            {{ ticket.title }}
            </br>
            {{ ticket.description }}
            </br>
            </br>
               {% if ticket.image %}
            <img src="{{ticket.image.url}}">
            {% endif %}
        </div>
    </div>
    <div class="separator"></div>
    <span> Critique</span>
    <br>
    <br>
    <div class="marge">
        <div class="align_input">
            <label for="headline">Title:</label> {{ review.headline }}
        </div>
        </br>
        <div class="align_input">
            <label for="rating">Note:</label>
            <input type="radio" id="rating-0" name="rating" value="0" checked="checked" class="star-cb-clear" /><label class="radio_marge" for="rating-0">0</label>
            <input type="radio" id="rating-1" name="rating" value="1" /><label class="radio_marge" for="rating-1">1</label>
            <input type="radio" id="rating-2" name="rating" value="2" /><label class="radio_marge" for="rating-2">2</label>
            <input type="radio" id="rating-3" name="rating" value="3" /><label class="radio_marge" for="rating-3">3</label>
            <input type="radio" id="rating-4" name="rating" value="4" /><label class="radio_marge" for="rating-4">4</label>
            <input type="radio" id="rating-5" name="rating" value="5" /><label class="radio_marge" for="rating-5">5</label>
        </div>
        </br>
        <div class="align_input">
            <label for="body">Commentaire:</label>{{ review.body}}
        </div>
    </div>
    <button class="btn first end">Envoyer</button>
    </div>
</form>
{% endblock %}
