{% extends 'base.html' %} {% block content %}
<h1>Créer un Ticket</h1>

<form id="newticket" method="POST" action="{% url 'newticket' %} " enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="align_input">
        <label for="title">Title:</label> {{ form.title }}
    </div>
    </br>
    <div class="align_input">
        <label for="description">Description:</label> {{ form.description}}
    </div>
    </br>
    <div class="align_input">
        <label for="image">Image:</label>{{ form.image}}
    </div>
    <button class="btn first end">Envoyer</button>
</form> {% endblock %}