{% load i18n %}{% csrf_token %}
<form class="ticket_snippet" action="{% url 'answerticket' id=post.id %}">
    <div class="p_align">
        <p class="p_left">{{post.user}} a demandé une critique</p>
        {% language 'fr' %}
        <p class="p_right"> {{post.time_created|date:"H:i, d F Y"}}</p> {% endlanguage %}
    </div>
    <p class="p_adjust"> {{post.title}}</p>
    <p> {{post.description}}</p>
    {% if post.image %}
    <img src="{{post.image.url}}">{% endif %} {% if post.id not in id_tickets and user.id != post.user_id %}
    <button class="btn first end">Envoyer</button>{% endif %}
</form>