@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Body */

body {
    text-align: center;
    background-color: #FFD55A;
    color: #293250;
    font-family: 'Pacifico', cursive;
}

h2 {
    margin-top: 4%;
}

ul {
    list-style-type: none;
}


/* Login*/

#leftId {
    width: 50%;
    float: left;
    margin-top: 10%;
}

.messages {
    background-color: rgba(180, 40, 40, 0.7);
    width: 200px;
    height: 50px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -50px;
    position: absolute;
    right: calc(25% - (200px / 2));
    display: block;
}

.messages p {
    text-align: center;
    margin-top: 14px;
}


/* Register */

#rightId {
    width: 50%;
    float: right;
    margin-top: 10%;
}

#register_form h1 {
    margin-top: 4%;
    margin-bottom: 4%;
}

#register_form button {
    margin-top: 1%;
}

#btn_back {
    margin-left: 10px;
    margin-top: 15px;
}


/* Input */

input {
    text-align: center;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    color: #293250;
    font-family: 'Pacifico', cursive;
    margin-top: 5px;
    height: 35px;
}

.underline {
    border-bottom: 2px solid currentColor;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.underline_user {
    border-bottom: 2px solid currentColor;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.underline_pwd {
    border-bottom: 2px solid currentColor;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

::-webkit-input-placeholder {
    /* Edge */
    color: white;
    opacity: 0.7;
}


/* Button */

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #293250;
    border-radius: 0.6em;
    color: #293250;
    cursor: pointer;
    display: flex;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}

.first {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.first:hover {
    box-shadow: 0 0 40px 40px #293250 inset;
    color: #FFD55A;
    outline: 0;
}