{% load i18n %}{% csrf_token %}{% load tag_library %}
<div class="review_snippet nospace">
    <div class="p_align">
        <p class="p_left">Vous avez a publié une critique</p> {% language 'fr' %}
        <p class="p_right"> {{post.time_created|date:"H:i, d F Y"}}</p> {% endlanguage %}
    </div>
    <div class="p-align ">
        <p class="p-left p_adjust"> {{post.headline}} - {% for c in 0|range:5 %} {% if c >= post.rating|to_int %} {% else %}<span class="fa fa-star checked"></span>{% endif %} {% endfor %}</p>
    </div>
    <p> {{post.body}}</p>

    {% for i in tickets%} {% if post.ticket_id == i.id %}
    <div class="content_review">
        <p> Ticket - {{i.user}}</p>
        <p>{{i.title}}</p>
        {% if i.image %}
        <img src="{{i.image.url}}"> {% endif %}
    </div>
    {% endif %} {% endfor %}
    <br>
    <div class="align_right">
        <form class="inline" action="{% url 'edit_review' id=post.id %}">
            <button class="btn first end">Modifier</button>
        </form>

        <form class="inline" action="{% url 'deletereview' id=post.id %}">
            <button class="btn first end">Supprimer</button>
        </form>
    </div>

</div>